/* Media Query de sm para baixo*/
@media only screen and (max-width: 767px) {
    .nome-skill{
        text-align: center !important;
    }
    .barra-branca{
        width: 100% !important;
    }
    .contato-nome{
        text-align: center;
    }
    .sobre{
        text-align: justify !important;
    }
}
/* margem dos container*/
.margin-container{
    margin-top: 15%;    
}
/* Background */
body{
    background-color: #091330 !important;
}

/* css da navegação */
#nav-principal{
   background-color: #091330;
   
}

#menu{
    justify-content: center;
}

/* Links da navegação */
a.nav-link{
    color: #FFDC80 !important;
    padding: 10px !important;
    margin: 10px !important;
    font-size: 12px;
    font-family: 'comic sans ms', sans-serif;
}

a.nav-link:hover{
    color: #FFBF19 !important;
}

#mobile-menu{
    background-color: white;
}

/* Div Home */
#foto{
    margin-top: 30px;
    padding: 10px;    
}
/* Textos */
.nome{
    margin-top: 20px;
    font-size: 36px;
    text-align: center !important;
    color: #FFBF19;
    font-family: 'comic sans ms' sans-serif;
}
.subnome{
    margin-top: 15px;
    font-size: 24px;
    text-align: center !important;
    color: #FFDC80;
    font-family: 'comic sans ms' sans-serif;
}
.sobre{
    margin-top: 20px;
    text-align: center;
    color: white;
    font-family: 'comic sans ms' sans-serif;
}

/* Skills */

.barra-amarela{
    background-color: #FFBF19 !important;
    border-left: 1px solid #091330 !important;
}
.barra-branca{
    background-color: #091330 !important;
    width: 80%;
}
.nome-skill{
    color: white;
    font-family: 'comic sans ms' sans-serif;
    font-size: 16px;
    margin-top: -8px;
    margin-bottom: 10px;
    text-align: right;
    color: #FFDC80;
}
.skill{
    padding: 10px;
}
.porcen{
    margin-left: 10px;
    color: #FFDC80;
}
.subnome-margin{
    margin-bottom: 50px;
}

/* Projetos */
.projeto-img{
    margin-top: 20%;
    width: 100%;
}

/* CONTATO */
#contato{
    margin-bottom: 10%;
}
.contato-div{
    padding: 10px;
    font-family: 'comic sans ms' sans-serif;
}
.contato-nome{
    font-size: 26px;
    color: #FFBF19;
}
.contato-subnome{
    color: #FFDC80;
    margin-top: 30px;
    text-align: left;
}
.div-form{
    margin-top: 15px; 
    border: 5px none #091330;
    color: white;
}
.input-cor{
    background-color: #E5D099 !important;
    border: 5px none #E5D099 !important;
}
#msg{
    padding: 10px;
}
/* Icones */
.social{
    margin-top: 11%;
    filter: brightness(75%) !important;
}
/* Rodapé */
footer{
    padding: 12px;
}
.footer{
    text-align: center;
    font-family: 'comic sans ms' sans-serif;
    color: #FFDC80;
    margin-bottom: 10px;
}
/* Animação */
.anime{
    opacity: 0;
    transform: translate3d(-100px,0,0);
    transition: .5s;
}
.anime-start{
    opacity: 1px;
    transform: translate3d(0,0,0);
    transition: .5s;
}
.anime-enc{
    opacity: 0px;
    transform: translate3d(0,0,0);
    transition: .5s;
}